CityToCoordinatesService/src/main/resources/wsdl/CityToCoordinatesService.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://www.example.org/CityToCoordinatesService"
             targetNamespace="http://www.example.org/CityToCoordinatesService">

    <types>
        <xsd:schema targetNamespace="http://www.example.org/CityToCoordinatesService">
            <xsd:element name="GetCoordinatesRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="cityName" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetCoordinatesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="latitude" type="xsd:double"/>
                        <xsd:element name="longitude" type="xsd:double"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="GetCoordinatesRequest">
        <part name="parameters" element="tns:GetCoordinatesRequest"/>
    </message>
    <message name="GetCoordinatesResponse">
        <part name="parameters" element="tns:GetCoordinatesResponse"/>
    </message>

    <portType name="CityToCoordinatesPortType">
        <operation name="GetCoordinates">
            <input message="tns:GetCoordinatesRequest"/>
            <output message="tns:GetCoordinatesResponse"/>
        </operation>
    </portType>

    <binding name="CityToCoordinatesBinding" type="tns:CityToCoordinatesPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetCoordinates">
            <soap:operation soapAction="http://www.example.org/CityToCoordinatesService/GetCoordinates"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="CityToCoordinatesService">
        <documentation>Service to get coordinates for a given city name</documentation>
        <port name="CityToCoordinatesPort" binding="tns:CityToCoordinatesBinding">
            <soap:address location="http://localhost:8080/CityToCoordinatesService"/>
        </port>
    </service>
</definitions>
